---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro"; 
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
		<p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
		<ul>
			<li>My name is {identity.firstName}</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}</li>
			{identity.hobbies.length >= 2 && 
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[0]}</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map(s => <li class="skill">{s}</li>)}
		</ul>
		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
		<style define:vars={{skillColor, fontWeight, textCase}}>
			:root {
				--nativeVar: navy;
			}
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				/* color: var(--nativeVar); */
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
			a {
					te
				}
		</style>
</BaseLayout>
