---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<style>
	.publish-details {
		display: flex;
		justify-content: space-between;
	}
	.tags {
		padding: 0;
	}
	.tags li {
		display: inline;
		margin-right: 1em;
		border: 1px solid black;
		padding: 2px 4px;
		background: gray;
		&:hover {
			opacity: 0.8;
		}

		a {
			text-decoration: none;
			color: unset;
		}
	}
	.description {
		opacity: 70%;
	}
	main {
		margin: 0 auto;
	}
	.cover-img {
		width: 100%;
		margin: 0 auto;
		display: block;
	}
</style>

	<main>
		<span class="description">{frontmatter.description}</span>
		<aside>
			<div class="publish-details">
				<p>Written by {frontmatter.author}</p>
				<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
			</div>
			<ul class="tags">{frontmatter.tags.map(t => <li><a href={`/tags/${t}`} >{t}</a></li>)}</ul>
		</aside>
		<hr />
		<img class="cover-img" alt={frontmatter.image.alt} src={frontmatter.image.url}/>
		<slot />
	</main>
</BaseLayout>
